body {
    margin: 0;
    padding: 0;
    background: #f1f3f5;
}

.wrapper .board {
    /** 变量 **/
    --cardCount: 3;
    /** 样式 **/ 
    margin: 20px 30px;
}

.wrapper .board .masonry {
    width: 100%; 
    columns: var(--cardCount);
    column-gap: 30px; 
}

.wrapper .board .card {
    margin-bottom: 20px;
    break-inside: avoid;
    width: 100%;
    height: 100%;
}

.wrapper .board .card h3 {
    margin-top: 8px;
    margin-bottom: 16px;
    color: #745fb5;
    white-space: nowrap;
    overflow: hidden; 
    font-size: 2rem;
}

.wrapper .board .card h3::after {
    margin-left: 10px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right,rgba(116,95,181,0.2),transparent 80%);
}

.wrapper .board .card article {
    margin: 0 0 10px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 6px 8px rgb(85 102 119 / 3%), 0 1px 1px rgb(85 102 119 / 40%);
}
